<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>즐겨찾기</ion-title>
<!--    <ion-buttons slot="primary">-->
<!--      <ion-button>편집</ion-button>-->
<!--    </ion-buttons>-->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">즐겨찾기</ion-title>
    </ion-toolbar>
<!--    <ion-toolbar>-->
<!--      <ion-searchbar></ion-searchbar>-->
<!--    </ion-toolbar>-->
  </ion-header>

  <ng-container *ngIf="authService.isNotLoggedIn$ | async">
    <div class="login-banner">
      <div class="icons">
        <ion-icon name="musical-notes"></ion-icon>
        <ion-icon name="arrow-forward-outline"></ion-icon>
        <ion-icon name="heart"></ion-icon>
      </div>
      <br>
      노래를 즐겨찾기에 보관하려면
      <br>
      <a [routerLink]="['/tabs/settings']">회원가입 혹은 로그인</a> 해주세요
    </div>
  </ng-container>

  <ng-container *ngIf="authService.user$ | async">
    <!--todo error-->
    <ng-container *ngIf="list$ | async as list">
      <ng-template #emptyTemplate>
        <div class="empty-data">
          <div class="icons">
            <ion-icon name="musical-notes"></ion-icon>
            <ion-icon name="arrow-forward-outline"></ion-icon>
            <ion-icon name="heart"></ion-icon>
          </div>
          <br>
          <a [routerLink]="['/tabs/home']">랜덤노래방</a>에서 노래를 뽑아서
          <br>
          마음에 드는 노래를 즐겨찾기에 보관하세요!
        </div>
      </ng-template>

      <ion-list *ngIf="list.length > 0; else emptyTemplate" class="list">
        <ion-item-sliding *ngFor="let item of list">
          <ion-item>
            <ion-label class="ion-text-wrap">
              <div class="label-inner">
                <div class="count">
                  <ion-icon name="heart"></ion-icon>
                  <ion-text color="danger">
                    {{item.count}}
                  </ion-text>
                </div>
                <div class="texts">
                  <ion-text>
                    <h2>{{item.song.title}}</h2>
                  </ion-text>
                  <ion-text color="medium">
                    <p>{{item.song.singer}}</p>
                  </ion-text>
                </div>
                <div class="numbers">
                  <ion-chip class="chip-song-number tj">
                    <ion-label>TJ {{item.song.tjNumber}}</ion-label>
                  </ion-chip>
                </div>
              </div>
            </ion-label>
          </ion-item>
          <ion-item-options side="end" (ionSwipe)="delete(item)">
            <ion-item-option (click)="delete(item)" color="danger" expandable>
              삭제
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>

      </ion-list>

    </ng-container>
  </ng-container>

</ion-content>

